.svg-container, .svg-badge, .svg-content { display: inline-block; }
.svg-container, .svg-badge { vertical-align: middle; overflow: hidden; position: relative; }

.svg-container {
	width: 100%;
	padding-bottom: 100%;
}

.svg-badge {
	width: 70%;
	padding-bottom: 40%;
	margin-left:30%;
}

.svg-content {
	position: absolute;
	top: 0;
	left: 0;
}

#WarningCode, #WarningCount {
	color: white;
	background-color: red;
	padding: 3px;
}

h3 {
	margin-top:20px;
}